# Xcode
.DS_Store
build/
DerivedData/
.idea/
*.xcuserstate
*.xcworkspace

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.lock
*.xcconfig
!Podfile.lock

# Carthage
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
